body{
    text-align: center;
}

header.masthead{
    background-color: rgb(135, 164, 189);
    
}
a.nav-link{
    color: brown;
    font-weight: bold;
}

.container{
    margin : 0 auto;
    float : none;
    margin-bottom: 1rem;
    
}
